.home {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100%;
}

.heatmap-loader {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	height: 100%;
	justify-content: center;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.layout-image-container {
	display: flex;
	justify-content: center;
	margin-top: 64px;
	padding-bottom: 32px;
}

.controls {
	background-color: var(--background-color-dark);
	box-shadow: 0 4px 4px rgb(0 0 0 / 24%), 0 12px 24px rgb(0 0 0 / 24%);
	display: flex;
	flex-direction: column;
	gap: 18px;
	padding: 36px;
}

.view-heatmap {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
}

.text__items {
	display: flex;
	gap: 24px;
	justify-content: space-between;
}

.item {
	flex: 1 1 0;
	text-align: start;
	width: 160px;
}

.controls__text {
	font-size: 14px;
}

p {
	margin-bottom: 4px;
}

.lds-ripple {
	display: inline-block;
	height: 260px;
	position: relative;
	width: 260px;

	div {
		animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
		border: 4px solid var(--accent-color-bright-blue);
		border-radius: 50%;
		opacity: 1;
		position: absolute;
	}

	div:nth-child(2) {
		animation-delay: -0.5s;
	}

	div:nth-child(3) {
		animation-delay: -1s;
	}
}

@keyframes lds-ripple {
	0% {
		height: 0;
		left: 130px;
		opacity: 0;
		top: 130px;
		width: 0;
	}

	4.9% {
		height: 0;
		left: 130px;
		opacity: 0;
		top: 130px;
		width: 0;
	}

	5% {
		height: 0;
		left: 130px;
		opacity: 1;
		top: 130px;
		width: 0;
	}

	100% {
		height: 260px;
		left: 0;
		opacity: 0;
		top: 0;
		width: 260px;
	}
}
