.home {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100%;
}

.layout-image-container {
	display: flex;
	justify-content: center;
	margin-top: 64px;
	padding-bottom: 32px;
}

.file {
	height: 0.1px;
	opacity: 0;
	position: absolute;
	width: 0.1px;
}

.file-input label {
	align-items: center;
	backface-visibility: hidden;
	background-color: var(--accent-color-blue);
	border-radius: 25px;
	box-shadow: 0 4px 4px rgb(0 0 0 / 24%), 0 12px 24px rgb(0 0 0 / 24%);
	color: #fff;
	cursor: pointer;
	display: block;
	display: flex;
	filter: blur(0);
	-webkit-font-smoothing: subpixel-antialiased;
	font-weight: bold;
	height: 50px;
	justify-content: center;
	min-width: 250px;
	position: relative;

	&:focus {
		outline: unset;
	}

	&:active {
		outline: unset;
	}
}

.controls-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	justify-content: start;
	left: 18px;
	position: fixed;
	top: 124px;
}

.controls {
	background-color: var(--background-color-dark);
	box-shadow: 0 4px 4px rgb(0 0 0 / 24%), 0 12px 24px rgb(0 0 0 / 24%);
	display: flex;
	flex-direction: column;
	gap: 18px;
	padding: 36px;
}

.view-heatmap {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
}

.text__items {
	display: flex;
	gap: 24px;
	justify-content: space-between;
}

.item {
	flex: 1 1 0;
	text-align: start;
	width: 160px;
}

.controls__text {
	font-size: 14px;
}

p {
	margin-bottom: 4px;
}
