.navbar {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 1280px;
}

.logo {
	align-content: center;
	align-items: center;
	color: var(--accent-color-white);
	cursor: pointer;
	display: flex;
	font-size: 24px;
	font-weight: 700;
	gap: 8px;
	justify-content: center;
	vertical-align: middle;
}

.logo-text {
	align-items: flex-end;
	display: flex;
	gap: 8px;
	justify-content: center;
	vertical-align: middle;
}

.log-sub-text {
	color: var(--text-color);
	font-weight: 500;
}

.menu {
	align-items: center;
	display: flex;
	font-weight: 600;
	gap: 16px;
	justify-content: space-around;
}

.item {
	color: var(--text-color);
}

.active {
	color: var(--accent-color-white);
}
