.navbar {
	align-items: center;
	display: flex;
	justify-content: space-between;
	// margin: 0 auto;
	// width: 1280px;
}

.logo {
	align-content: center;
	align-items: center;
	color: var(--accent-color-white);
	cursor: pointer;
	display: flex;
	font-size: 24px;
	font-weight: 700;
	gap: 8px;
	justify-content: center;
	vertical-align: middle;
}

.logo-text {
	align-items: flex-end;
	display: flex;
	gap: 8px;
	justify-content: center;
	vertical-align: middle;
}

.log-sub-text {
	color: var(--text-color);
	font-weight: 500;
}

.menu {
	align-items: center;
	display: flex;
	font-weight: 600;
	gap: 16px;
	justify-content: space-around;
}

.item {
	color: var(--text-color);
}

.active {
	color: var(--accent-color-white);
}

.file {
	height: 0.1px;
	opacity: 0;
	position: absolute;
	width: 0.1px;
}

.file-input label {
	align-items: center;
	backface-visibility: hidden;
	// background-color: var(--accent-color-blue);
	// border-radius: 25px;
	// box-shadow: 0 4px 4px rgb(0 0 0 / 24%), 0 12px 24px rgb(0 0 0 / 24%);
	color: #fff;
	cursor: pointer;
	display: block;
	display: flex;
	filter: blur(0);
	font-size: 22px;
	-webkit-font-smoothing: subpixel-antialiased;
	font-weight: bold;
	height: 50px;
	justify-content: center;
	min-width: 250px;
	position: relative;

	&:focus {
		outline: unset;
	}

	&:active {
		outline: unset;
	}
}
