.colors-array {
	width: 100%;
}

.color-container {
	border-radius: 0 0 8px 8px;
	direction: rtl;
	max-height: 200px;
	overflow: hidden;
	overflow-y: auto;
	position: relative;
	width: 100%;
}

.add-color-container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0 4px;
}

.add-color {
	opacity: 0.5;

	&:hover {
		cursor: pointer;
		opacity: 1;
	}
}

.color-picker-container {
	background-color: var(--background-color);
	border-radius: 16px;
	bottom: -163px;
	box-shadow: 0 4px 4px rgb(0 0 0 / 24%), 0 12px 24px rgb(0 0 0 / 24%);
	left: 13px;
	padding: 4px;
	position: absolute;
}

.save-screenshot {
	margin-top: 24px;
	opacity: 0.7;

	&:hover {
		cursor: pointer;
		opacity: 1;
	}
}

.color-picker__close {
	&:hover {
		cursor: pointer;
	}
}
