:root {
	--background-color: #383838;
	--background-color-dark: #272727;
	--accent-color-white: #fff;
	--accent-color-blue: #4a5976;
	--accent-color-bright-blue: #46acff;
	--error-color: #f29b9b;
	--text-color: #a3a3a3;
}
