h1,
h2,
h3 {
	color: var(--accent-color-white);
	font-weight: 700;
	line-height: 1.1;
	margin-top: 0;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 28px;
}

p {
	font-size: 20px;
	font-weight: 500;
	margin-top: 0;
}

a,
a:visited,
a:active {
	text-decoration: none;
}

a:hover {
	color: var(--accent-color-white);
}

.subtext {
	color: var(--text-color);
	font-size: 16px;
	font-weight: 300;
	opacity: 0.9;
}
