.color-card {
	align-items: center;
	direction: ltr;
	// background-color: var(--text-color);
	// border-radius: 24px;
	// box-shadow: 0 -1px 0 var(--accent-color-blue) inset;
	display: flex;
	flex-direction: row;
	height: 36px;
	justify-content: space-between;
	opacity: 0;
	padding: 0 8px 0 0;
	position: relative;
	text-align: center;
	width: 100%;
}

.handler {
	background-image: radial-gradient(
		circle,
		var(--accent-color-white) 3px,
		transparent 3px
	);
	background-size: 100% 33.33%;
	height: 24px;
	opacity: 0.3;
	width: 24px;
}

.handler:hover {
	cursor: pointer;
	opacity: 1;
}

.color-dot {
	background-color: #bbb;
	border: 1px solid #bbb;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	height: 18px;
	width: 18px;
}

.close {
	height: 24px;
	opacity: 0.3;
	right: 4px;
	top: 4px;
	width: 24px;
}

.close:hover {
	background-color: rgba(var(--background-color-dark), 1);
	cursor: pointer;
	opacity: 1;
}

.close::before,
.close::after {
	background-color: var(--accent-color-white);
	content: " ";
	height: 24px;
	// left: 11px;
	position: absolute;
	width: 2px;
}

.close::before {
	transform: rotate(45deg);
}

.close::after {
	transform: rotate(-45deg);
}

.duplicate {
	border: 2px solid transparent;
	border-bottom: 4px solid transparent;
	box-shadow: 0 0 0 2px, inset 0 -2px 0 0;
	box-sizing: border-box;
	display: block;
	height: 10px;
	margin-left: -4px;
	margin-top: 4px;
	opacity: 0.5;
	position: relative;
	transform: scale(var(--ggs, 1));
	width: 10px;
}

.duplicate:hover {
	cursor: pointer;
	opacity: 1;
}

.duplicate::after,
.duplicate::before {
	box-sizing: border-box;
	content: "";
	display: block;
	position: absolute;
}

.duplicate::before {
	background: currentColor;
	bottom: -2px;
	height: 6px;
	left: 2px;
	width: 2px;
}

.duplicate::after {
	border-right: 2px solid;
	border-top: 2px solid;
	height: 14px;
	right: -8px;
	top: -8px;
	width: 14px;
}
